* {
    display: flex;
}
body {
    width: 100vw;
    margin: 0;
    padding: 0;
}
.box{
    border: solid black 2px;
    flex-direction: column;
    width: 100vw;
}

.project-pane {
    flex-direction: row;
}
.presented-slides {
    width: 100vw;
    overflow: hidden;
    display: contents;
}
.presented-slides {
    overflow: hidden;
}
#app{
    flex-direction: column;
    width: 100vw;
}
.inactive-before {
    display: hidden;
    opacity: 50%;
}
.inactive-after .inactive-before {
    width: 50%
}
.inactive-after {
    opacity: 20%;
    transition-duration: 250ms;
}
.active {
    z-index: 1;
    width: 200%;
    overflow: visible;
    transition-duration:  500ms;
}
img {
    border-radius: 8px;
    max-height: max-content;
    max-width: max-content;
    height: auto;
    width: 100%;
}
.fade-in-image {
    animation: fadeIn 1000ms ;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}