* {
  display: flex;
}
body {
  width: 100vw;
  margin: 0;
  padding: 0;
}
#app {
  flex-direction: column;
  width: 100vw;
}
.box {
  border: solid black 2px;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
nav > .link-stabilizer > a,
.project-tab-button {
  min-width: 100px;
  min-height: 70px;
}
nav > .link-stabilizer > a,
.project-tab-button,
.project-tab-content > .link-stabilizer > a,
.project-tab-content, .project-tab-content > .link-stabilizer {
  border: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: blueviolet;
  font-weight: bold;
  font-size: larger;
}
.nav-bar,
.project-tab-content {
  background-color: deepskyblue;
}
.contact {
  position: fixed;
  bottom: 0;
}
.project-pane {
  flex-direction: row;
}
.presented-slides {
  overflow: hidden;
  display: contents;
}

.project-tab {
  position: relative;
  display: inline-block;
}
.project-tab:hover .project-tab-button {
  background-color: bisque;
}
.project-tab-content {
  transition: all 200ms;
  position: absolute;
  display: none;
  z-index: 2;
  min-width: 200%;
}
.project-tab-content >
.project-tab-link, .project-tab-content > .link-stabilizer {
  min-height: 70px;
}
.project-tab:hover  .project-tab-content  {
  display: inline-block;
}

.project-tab-content > .link-stabilizer > a,
nav > .link-stabilizer > a {
  transition: all 200ms ease-in;
}
.link-stabilizer:hover > a {
  border: 4px;
  border-style: inset;
  border-radius: 5px;
  border-color: deeppink;
  background-color: deeppink;
  box-shadow: -20px -10px 10px red;
  transition: all ease-in 200ms;
  transform-style: preserve-3d;
  transform: translateX(20px) translateY(10px);
  perspective: 4rem;
  z-index: 5;
  max-height: initial;
}

.project-tab-content > .link-stabilizer > a:hover,
nav > .link-stabilizer > a:hover {
  border: 4px;
  border-style: inset;
  border-radius: 5px;
  border-color: deeppink;
  background-color: deeppink;
  box-shadow: -20px -10px 10px red;
  transition: all ease-in 200ms;
  transform-style: preserve-3d;
  transform: translateX(20px) translateY(10px);
  perspective: 4rem;
  z-index: 5;
  padding-top: 10px;
  padding-left: 20px;
}

.project-tab-content > .link-stabilizer > a:active,
nav > .link-stabilizer > a:active {
  transition: all 100ms;
  transform: translate(10px) translateY(5px);
  box-shadow: -10px -5px 10px red;
  filter: brightness(80%);
}
.fade-in-image {
  animation: image-float-in 500ms;
}
.carousel-from-previous {
  animation: carousel-from-previous 500ms;
}

img {
  border-radius: 8px;
  max-height: max-content;
  max-width: max-content;
  height: auto;
  width: 100%;
  transition: ease-in 500ms;
}

.inactive-before {
  display: hidden;
  opacity: 50%;
}
.inactive-after .inactive-before {
  width: 50%;
}
.inactive-after {
  opacity: 20%;
  transition: opacity;
  transition-duration: 250ms;
}
.active {
  z-index: 1;
  width: 200%;
  overflow: visible;
  transition: opacity;
  transition-duration: 500ms;
  background-color: aqua;
}
.carousel-from-next {
  animation: carousel-from-next 500ms;
  transition: cubic-bezier(1, 0, 0, 1);
}
@keyframes carousel-from-previous {
  0% {
    transform: translateX(-50%);
  }
}

@keyframes carousel-from-next {
  0% {
    transform: translateX(50%);
  }
}
@keyframes image-float-in {
  0% {
    filter: brightness(50%);
  }
  80% {
    filter: brightness(70%);
  }
}
@keyframes button-hover {
}
